{% extends 'base.html' %}
{% load static %}
{% block title %} Update Soon {% endblock %}

{% block head %}

{% endblock %}


{% block body %}





<div class="video-join-section section overlay-gradient overlay-opacity-70 pt-85 pb-100" style=" background-image: url({% static 'Lingayas_img1.jpg' %}); width: 100%;">
    <div class="container">
        <div class="row flex-row-reverse" >

            <!-- Join Form Start -->
            <div class="join-form col-xl-5 col-lg-6 col-12">



                <img src="{% static 'RadianceLogo.png' %}" width="550px" alt="">


            </div><!-- Join Form End -->

            <!-- Video Content Start -->
            <div class="video-content col-xl-7 col-lg-6 col-12" >

                <h1>This Page will be Updated Soon <br> ZEST 2K18</h1>

                <a href="#" class="play-video video-popup"> <img src="{%  static 'Home_files/play-white.png' %}" alt="play"> <span> Teaser will be update soon</span> </a>

            </div><!-- Video Content End -->

        </div>
    </div>
</div><!-- Video & Join Section End -->








 {% endblock %}
